/* src/app/css/home.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #6cd2e6ff; /* Light blue background */
    font-family: Arial, sans-serif;
  }
  
  .main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the main container covers the full height */
  }
  
  .description {
    margin: 20px 0;
    text-align: center;
  }
  
  .tree {
    position: relative;
    width: 400px;
    height: 700px;
  }
  
  .trunk {
    position: absolute;
    bottom: 0;
    margin-bottom: 225px;
    left: 52%;
    width: 63px;
    height: 355px;
    background: #8B4513;
    transform: translateX(-50%);
    z-index: 2;
  }

  .branch1 {
    position: relative;
    right: 100%;
    width: 350px;
    height: 190px;
    margin-bottom: 7px;
    margin-left: 425px;
    cursor: pointer;
    z-index: 4;
    transition: transform 0.2s ease-in-out;
  }

    .branch1-v2 {
      position: absolute;
      top: 100px;
      width: 140px;
      height: 5px;
      margin-left: 145px;
      cursor: pointer;
      color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      font-weight: bold;
      z-index: 6;
      transition: transform 0.2s ease-in-out;
    }

  .branch2 {
    position: relative;
    width: 275px;
    height: 125px;
    margin-left: -70px;
    margin-bottom: -10px;
    cursor: pointer;
    z-index: 4;
    transition: transform 0.2s ease-in-out;
  }
    .branch2-v2 {
      position: absolute;
      top: 260px;
      width: 70px;
      height: 5px;
      margin-left: 30px;
      transition: transform 0.2s ease-in-out;
      margin-bottom: 0px;
      cursor: pointer;
      color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      font-weight: bold;
      z-index: 6;
    }

  .branch3 {
    position: relative;
    width: 275px;
    height: 125px;
    margin-left: 150px;
    margin-bottom: 0px;
    cursor: pointer;
    z-index: 5;
    transition: transform 0.2s ease-in-out;
  }
    .branch3-v2 {
      position: absolute;
      top: 383px;
      width: 196px;
      height: 5px;
      margin-left: 190px;
      margin-bottom: 0px;
      cursor: pointer;
      color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      font-weight: bold;
      transition: transform 0.2s ease-in-out;
      z-index: 6;
    }

  .branch4 {
    position: relative;
    top: -258px;
    width: 275px;
    height: 125px;
    margin-left: 230px;
    margin-bottom: 0px;
    cursor: pointer;
    z-index: 6;
    transition: transform 0.2s ease-in-out;
  }
    .branch4-v2 {
      position: absolute;
      top: 252px;
      width: 196px;
      height: 5px;
      margin-left: 270px;
      margin-bottom: 0px;
      cursor: pointer;
      color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      font-weight: bold;
      z-index: 7;
      transition: transform 0.2s ease-in-out;
    }  
  
  .root {
    position: relative;
    bottom: 90px;
    left: 53%;
    width: 445px;
    height: 225px;
    border-radius: 50% 50% 0 0;
    transform: translateX(-50%);
    z-index: 3;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1px;
  }

    .root1 {
      position: absolute;
      width: 445px;
      height: 225px;
      margin-left: 1.5px;
      margin-bottom: -52px;
      z-index: 2;
      transition: transform 0.2s ease-in-out;
      cursor: pointer;
      color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }

    .root2 {
      position: absolute;
      width: 40px;
      height: 5px;
      margin-left: -23px;
      margin-bottom: 140px;
      z-index: 3;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      font-weight: bold;
    }
  
  .dirt {
    position: absolute;
    bottom: 0;
    margin-bottom: -30px;
    left: 52%;
    width: 1750px;
    height: 200px;
    background: #b78866;
    transform: translateX(-50%);
    z-index: 1;
  }
  .topdirt {
    position: absolute;
    bottom: 150px;
    left: 52%;
    width: 1750px;
    height: 20px;
    background: #1db541;
    transform: translateX(-50%);
    z-index: 1;
  }
    
  .root:hover {
    transform: scale(1.1);
  }
  .root1:hover {
    transform: scale(1.1);
  }

  .branch1:hover {
    transform: scale(1.2);
  }
  .branch2:hover {
    transform: translateX(-1%) scale(1.2);
  }
  .branch3:hover {
    transform: translateX(2%) scale(1.2);
  }
  .branch4:hover {
    transform: translateX(2%) scale(1.2);
  }

  