/* src/app/css/moduleone.css */
.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  p {
    margin: 20px 0;
    text-align: center;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  